@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
}

#container {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#btn {
  background: rebeccapurple;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  border: none;
}

.toast {
  background: rebeccapurple;
  padding: 2rem;
  color: white;
  border-radius: 5px;
  margin: 1rem;
}
