.container {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.like_button {
  background-color: #4266b2;
  padding: 1em 2em;
  margin: 0 auto;
  margin-top: 2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.1em #3a5794;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 0.5em;
}

.fa-check {
  display: none;
}
