<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="carousel">
      <div id="container" class="image-container">
        <!-- 이미지 저장하지 않고 링크 넣어도 됩니다. -->
        <img src="./bird.jpg" alt="bird" />
        <img src="./dog.jpg" alt="dog" />
        <img src="./fish.jpg" alt="fish" />
        <img src="./hamster.jpg" alt="hamster" />
      </div>
    </div>
  </body>
</html>
