@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.btn {
  cursor: pointer;
}
h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}
.clicked {
  color: #7f8c8d;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}
