<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sound Board</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <audio id="applause" src="./sounds/applause.mp3"></audio>
    <audio id="bonfire" src="./sounds/bonfire.mp3"></audio>
    <audio id="burning" src="./sounds/burning.mp3"></audio>
    <audio id="phone-ring" src="./sounds/phone-ring.mp3"></audio>
    <audio id="sea" src="./sounds/sea.mp3"></audio>
    <audio id="timer" src="./sounds/timer.mp3"></audio>
  </body>
</html>
